* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin-top: 0 !important; /* para desactivar la margen que worpress genera*/
}
html,
body {
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* contenedor principal */
.contenedor-principal {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  position: relative;

  background-image:
    linear-gradient(to bottom, #232a33, #232a3300), url("./assets/img/bg.png");

  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* HEADER */

.header {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  padding: 2.5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 10;
}

/* LOGO */

.logo {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 3.1rem;
  margin-left: 7rem;
  font-weight: 700;
}

/* NAVBAR */

.navbar {
  display: flex;
  gap: 2.5rem;
  margin-right: 6rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;

  transition: 0.3s ease;
}

/* HEro */

.hero {
  position: relative;
  overflow: hidden;
  padding-top: 12rem;
  padding-bottom: 2rem;
}

/* CONTENIDO HERO */

.contenido-hero {
  position: relative;
  z-index: 5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* TAKE OFF */

.imagen-takeoff {
  width: 52rem;
  max-width: 90%;
  margin-top: -15rem;
}

/* NUBE IZQUIERDA */

.nube-izquierda {
  position: absolute;
  top: 13rem;
  left: -1rem;
  width: 63rem;
  z-index: 2;
  opacity: 0.9;
  filter: blur(4px);
}

/* NUBE DERECHA */

.nube-derecha {
  position: absolute;
  top: 4rem;
  right: 1rem;
  width: 50rem;
  z-index: 2;
  opacity: 0.8;
}

/* --------------------SECCIÓN 2*/
.seccion-b2b {
  position: relative;
  margin-top: -27rem;
  padding-bottom: 15rem;
  background: linear-gradient(to bottom, #232a3300 0%, #232a33 100%);
  z-index: 5;
}
.intro-b2b {
  text-align: center;
}
/* CONTENIDO */

.contenido-b2b {
  width: 100%;
  max-width: 85rem;
  margin: 2rem auto 0 auto;
  text-align: left;
  padding-left: 8rem;
}

/* DESCRIPCIÓN */

.descripcion-hero {
  max-width: 42rem;
  margin: 0 auto;
  color: #ffffffff;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  margin-top: 5rem;
}

/* BOTÓN SUPERIOR */

.boton {
  width: 17rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.boton:hover {
  transform: scale(1.05);
}

/* TITULO */

.titulo-b2b {
  color: #ffffffff;
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* TEXTOS */

.texto-b2b {
  max-width: 72rem;
  color: #ffffffff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: 3rem;
}

/* BOTÓN INFERIOR */

.boton-b2b {
  width: 17rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.boton-b2b:hover {
  transform: scale(1.05);
}

/* AIRPLANE*/

.airplane-section {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

.airplane-board {
  width: 90rem;
  max-width: 95%;
}

/* ------------------------SECCIÓN 3*/
.seccion-testimonio {
  position: relative;
  overflow: hidden;
  margin-top: -8px;
  padding: 170px 0 120px;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;

  background:
    linear-gradient(
      to bottom,
      rgba(35, 42, 51, 0) 0%,
      rgba(35, 42, 51, 0.35) 8%,
      rgba(35, 42, 51, 0.75) 18%,
      #232a33 34%
    ),
    radial-gradient(
      circle at 12% 20%,
      rgba(73, 198, 243, 0.4) 0%,
      rgba(73, 198, 243, 0) 46%
    ),
    radial-gradient(
      circle at 88% 76%,
      rgba(248, 148, 133, 0.32) 0%,
      rgba(248, 148, 133, 0) 44%
    ),
    #232a33;
}

/* EFECTOS */

.seccion-testimonio::before {
  content: "";
  position: absolute;
  width: 720px;
  height: 720px;
  left: -240px;
  top: 10%;
  background: #49c6f3;
  opacity: 0.24;
  filter: blur(180px);
  z-index: 0;
}

.seccion-testimonio::after {
  content: "";
  position: absolute;
  width: 700px;
  height: 700px;
  right: -240px;
  bottom: 0;
  background: #f89485;
  opacity: 0.22;
  filter: blur(180px);
  z-index: 0;
}
/* CONTENEDOR */

.testimonio-inner {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
}

/* LOGO */

.logo-testimonio {
  width: 210px;
  display: block;
  margin: 0 auto 80px auto;
}

/* COMILLAS */

.comillas {
  position: absolute;
  left: -40px;
  top: 110px;
  font-size: 300px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.18);
  font-family: serif;
}

/* TEXO */

.texto-testimonio {
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -1px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* RESALTADO */

.texto-testimonio span {
  display: block;
}
.texto-testimonio .resaltado {
  color: #f89485;
}

/* AUTOR */

.autor-testimonio {
  width: 100%;
  max-width: 1250px;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  text-align: right;
}

.autor-testimonio div {
  width: fit-content;
  text-align: right;
}
.autor-testimonio div {
  transform: translateX(80px);
}
/* NOMBRE */

.autor-testimonio h3 {
  color: white;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 5px;
}

/* CARGO */
.autor-testimonio p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

/* Punto*/
